nav{
    /* background-color: brown; */
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-around;
    align-items: center;
}

.dyone-logo {
    /* background-color: coral; */
}

.list-nav {
    /* background-color: darkturquoise; */
}

.list-nav ul {
    display: flex;
    /* background-color: greenyellow; */
    list-style-type: none;
    padding: 0;
    gap: 5em;
}

.list-nav ul li {
    /* background-color: darksalmon; */
}